.container{
    background-color: #D2D3D3;
    border: 2px solid black;
    height: 200px;
    width: 500px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-around;
}
.container .red{
    background-color: red;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.container .green{
    background-color: green;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}
.container .yellow{
    background-color:yellow;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}